<html>
  <h1>Your Paddlefest volunteer confirmation</h1>
  <p>
    Thank you for signing up to volunteer for Ohio River Paddlefest! Our event
    could not possibly happen without volunteers like you. We appreciate your
    help raising funds to support Adventure Crew’s mission of connecting city
    teens to nature and each other through outdoors adventures!
  </p>
  <p>For your records, here is a copy of your information:</p>
  <table>
    <tr>
      <td>Name</td>
      <td><%= data.name %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= data.email %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= data.phonenum %></td>
    </tr>
    <tr>
      <td>Shirt Size</td>
      <td><%= data.shirt_size %></td>
    </tr>
  </table>
  <p>Your shifts are:</p>
  <pre><%- jobs.replace(/\n/g, '<br />') %></pre>
  <p>
    If anything goes wrong on our end, we may ask for your Volunteer ID number:
    <%= id %>
  </p>
  <br />
  <p>Be sure to wear comfortable shoes and bring a water bottle.</p>
  <p>
    Again, thank you for volunteering for Paddlefest! If you have any questions,
    please don’t hesitate to contact us at
    <a href="mailto:info@ohioriverpaddlefest.org"
      >info@ohioriverpaddlefest.org</a
    >. We look forward to seeing you at the event!
  </p>
  <p>- The Ohio River Paddlefest team</p>
  <br />
  <br />
  <hr />
  <h2>Parking instructions</h2>
  <%- parking.replace(/\n/g, '<br />') %>
</html>
